<ion-content [fullscreen]="true">
  <ion-slides pager>
    <ion-slide>
      <div class="container">
        <ion-card-header>
          <ion-card-title size="small" color="warning">Ajouter un apprenant</ion-card-title>
        </ion-card-header>
          <form #data="ngForm" (ngSubmit)="ajoutApprenant(data)" novalidate>
            <ion-item>
              <ion-label position="floating" color="warning">Nom</ion-label>
              <ion-input type="text" name="nomComplet" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="warning">Email</ion-label>
              <ion-input type="email" name="email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="warning">Numéro</ion-label>
              <ion-input type="text" name="telephone" ngModel required></ion-input>
            </ion-item>
            <ion-button name="promotion" ngModel color="warning" expand="block" (click)="showContent()">{{content}}</ion-button>
            <ion-button color="warning" type="submit" expand="block">Ajouter</ion-button>
            <ion-button color="danger" expand="block">Annuler</ion-button>
          </form>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container">
            <ion-card-title size="small" color="warning">Ajouter une promotion</ion-card-title>
            <ion-item>
              <ion-label position="floating" color="warning">Formation</ion-label>
              <ion-input type="text" name="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="warning">Promotion</ion-label>
              <ion-input type="date" name="phone"></ion-input>
            </ion-item>
            <ion-button color="warning" expand="block">Ajouter</ion-button>
            <ion-button color="danger" expand="block">Annuler</ion-button>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
