
<ion-content [fullscreen]="true" class="">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <ion-text class="title">
          <h4>Veuillez choisir les critères de la repartion</h4>
        </ion-text>
        <ion-button color="warning" expand="block" (click)="showContent()">{{content}}</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-input type="number" class="form-input" placeholder="Nbr groupe" required></ion-input>
          <ion-input type="number" class="form-input" placeholder="Nbr personne" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-select placeholder="Trier">
            <ion-select-option value="Croissant">Croissant</ion-select-option>
            <ion-select-option value="Aleatoire">Aléatoire</ion-select-option>
          </ion-select>
          <ion-select placeholder="Repartir">
            <ion-select-option value="Defaut">Défaut</ion-select-option>
            <ion-select-option value="Exces">Excès</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button color="primary" expand="block">Repartir</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-slides pager>
              <ion-slide>
                <ion-list>
                  <ion-list-header>
                    Groupe 1
                  </ion-list-header>
                  <ion-item>John Doe</ion-item>
                  <ion-item>John Doe</ion-item>
                  <ion-item>John Doe</ion-item>
                </ion-list>
              </ion-slide>
              <ion-slide>
                <ion-list>
                  <ion-list-header>
                    Groupe 2
                  </ion-list-header>
                  <ion-item>John Doe</ion-item>
                  <ion-item>John Doe</ion-item>
                  <ion-item>John Doe</ion-item>
                </ion-list>
              </ion-slide>
              <ion-slide>
                <ion-list>
                  <ion-list-header>
                    Groupe 3
                  </ion-list-header>
                  <ion-item>John Doe</ion-item>
                  <ion-item>John Doe</ion-item>
                  <ion-item>John Doe</ion-item>
                </ion-list>
              </ion-slide>
              <ion-slide>
                <ion-list>
                  <ion-list-header>
                    Groupe 4
                  </ion-list-header>
                  <ion-item>John Doe</ion-item>
                  <ion-item>John Doe</ion-item>
                  <ion-item>John Doe</ion-item>
                </ion-list>
              </ion-slide>
              <ion-slide>
                <ion-list>
                  <ion-list-header>
                    Groupe 5
                  </ion-list-header>
                  <ion-item>John Doe</ion-item>
                  <ion-item>John Doe</ion-item>
                  <ion-item>John Doe</ion-item>
                </ion-list>
              </ion-slide>
            </ion-slides>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
